$corDeFundo: #040714;
$corDeFundoFac: #13151d;
$corTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;
$corTextoFac: #fff;
$corDeFundoBotaoPrimario: #6421ff;
$corDeFundoBotaoSecundario: #0063e5;
$corDeFundoBotaoDark: #000;